{% extends 'layout.html' %}

{% block content %}

<div class="container">

    <!-- Profile pic   -->
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-md-6">           
            <div class="polaroid">
                <img src="{{ image_file }}">               
            </div>
        </div>
    </div>

     <!-- User settings  -->
    <div class="row">
        <div class="col">
        <form method="POST" action="{{ url_for('account') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Cuenta de usuario</legend>

                <div class="form-group">

                <!-- Username   -->
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Email -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Picture -->
                <div class="form-group">
                    <div>
                        {{ form.picture.label() }}
                    </div>
                    <div>
                        {{ form.picture(class="form-control-file") }}  
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                    {% endif %}                
                    </div>
                </div>
            </fieldset>

            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="btn btn-info mb-5") }}
            </div>
        </form>
    </div>

</div>

{% endblock content %}