{% extends 'layout.html' %}


{% block content %}


<!-- Formulario para crear publicacion   -->

<!--  Publicaciones  (.items ya que es una paginacion)-->

{% for post in posts.items %}

        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">           
                    <div class="polaroid">
                        {% if post.image %}
                            <img class="" src="{{ url_for('static', filename='UPLOAD_FOLDER/' + post.image)   }}" alt="">
                        {% endif %}
                        <div>
                            {% if current_user.id == post.user_id  %}
                                <a class="btn-sm btn-warning" href="{{ url_for('delete_post', post_id=post.id)}}">Eliminar</a>
                            {% endif %}
                        </div>
                        <div class="mb-2">
                            {{ post.author.username }}
                        </div>
                        <p>
                            {{ post.content }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}

<!-- BUCLE FOR PARA RECORRER PAGINAS-->
{%  for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,right_current=2) %}
<!-- CREAMOS ENLACES A ESTAS PAGINAS-->
    {%  if page_num  %}
        <!--condicional adicional para darle estilo al link de la pagina actual-->
        {%  if posts.page == page_num  %}
            <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {%  else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {%  endif  %}
    {%  else %}
        <!--Los valores NONE, los mostraremos como puntos suspensivos-->
    ...
    {%  endif %}
{%  endfor %}

<!-- Boton para publicar   -->

<form method="POST" action="{{ url_for('new_post') }}">      
      <div class="text-center">
        <button type="submit" class="post-button btn-shadow" id="button2" href="{{ url_for('new_post') }}">Publicar
        </button>
      </div>     
</form>



{% endblock content %}

