{% extends 'layout.html' %}

{% block content %}


<div class="container">
  <div class="row justify-content-center">
    <div class="col-4-sm">
      <div class="profile-user">
        <img src="{{ url_for('static', filename='profile_pics/' +  user.image_file) }}" alt="...">
        <p class="username-settings">{{user.username|title }}</p>
        {% if current_user.id == user.id %}
            <a class="user-settings" href="{{ url_for('account') }}">
              <i class="fa-solid fa-gear"></i> Ajustes
            </a>
            <!-- Opciones para seguir a usuario -->
        {% elif not current_user.is_following(user)  %}
            <a id="user-follow" class="btn btn-info" href="{{  url_for('follow', username=user.username)  }}">
              Seguir 
            </a> 

        {% else %}
            <a id="user-follow" class="btn btn-danger" href="{{  url_for('unfollow', username=user.username)  }}">
                Dejar de seguir
            </a>   
        {% endif %}
        <a class="user-settings" href="{{ url_for('friends', user_id=user.id) }}">
          <i class="fa-solid fa-user-group"></i> Contactos
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4-sm ">
      <div class="grid">
        {% for photo in photos.items  %}
            <div class="grid-item polaroid-profile mb-4 ">
              <img src="{{ url_for('static', filename='UPLOAD_FOLDER/' +  photo.image) }}" class="card-img-top" alt="...">
              <p class="post-content-profile">{{ photo.content }}</p>
            
              {% if current_user.id == photo.user_id %}
                  <!-- INGRESAR BOTON PARA ELIMINAR -->
                    <a type="" class="delete-post" data-bs-toggle="modal" data-bs-target="#deleteModal">
                      <i class="fa-solid fa-trash" id="trash-icon"></i>
                    </a>
              {% endif %}
  
              <!-- Modal -->
              <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Eliminar publicacion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Desea eliminar esta publicacion?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" href="{{ url_for('delete_post', post_id=photo.id)}}">Eliminar</a>
                    </div>
                </div>
              </div>
            </div>

            </div>
           
      {% endfor %}

      </div>

      
    </div>
  </div>
</div>




<div class="container">
  <div class='row justify-content-center text-center'>
      <!-- Bucle que itera sobre las paginas-->
      <div class="pagination">
          {%  for page_num in photos.iter_pages(left_edge=1, right_edge=1, left_current=1,right_current=2) %}
              <!-- Enlaces a otras paginas-->
              {%  if page_num  %}
                  <!--condicional adicional para darle estilo al link de la pagina actual-->
                  {%  if photos.page == page_num  %}
                      <a class="btn btn-info mb-4" href="{{ url_for('profile', page=page_num, username=user.username) }}">{{ page_num }}</a>
                  {%  else %}
                      <a class="btn btn-outline-info mb-4" href="{{ url_for('profile', page=page_num, username=user.username) }}">{{ page_num }}</a>
                  {%  endif  %}
              {%  else %}
                  <!--Los valores NONE, los mostraremos como puntos suspensivos-->
              ...
              {%  endif %}
          {%  endfor %}
      
      </div>
  </div>
</div>

{% endblock content %}


