{% extends 'layout.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col login-image">
            <img class="polaroid-forms" src="../static/images/registro.jpg" alt="imagen de inicio">
        </div>
        <div class="col">
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <form method="POST" action="{{ url_for('registration') }}" autocomplete="off" >
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group mt-3">
                                <legend class="border-bottom mb-2 title">
                                    Pics
                                </legend>
                                <small class="text-muted">
                                    Momentos capturados en fotografias
                                </small>

                                <!--  Registration form  -->

                                <div class="form-group">
                                    {% if form.username.errors %}
                                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.username.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.username (class="form-control form-control-lg", placeholder='Nombre de usuario', autocomplete='off') }}
                                    {% endif %}
                                </div>

                                <!--  Email  -->

                                <div class="form-group">
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email (class="form-control form-control-lg", placeholder='Email', autocomplete='off') }}
                                    {% endif %}
                                </div>

                                <!--  Contraseña  -->
                                <div class="form-group">
                                    {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password (class="form-control form-control-lg", placeholder='Password', autocomplete='off') }}
                                    {% endif %}
                                </div>
                                    

                                <!-- Confirmar contraseña   -->
                                <div class="form-group">
                                    {% if form.confirm_password.errors %}
                                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.confirm_password (class="form-control form-control-lg", placeholder='Confirmar contraseña', autocomplete='off') }}
                                    {% endif %}

                                </div>

                                <div class="recaptcha mt-3">
                                    {{ form.recaptcha() }}
                                </div>
                                
                            </fieldset>

                            <div class="form-group mt-2 d-grid gap-2">
                                {{ form.submit (class="btn btn-danger")}}
                            </div>
                        </form>
                    </div>
                    <div class="pt-3">
                        <small class="text-muted">
                            Ya tenes una cuenta? 
                            <a class="ml-2" href={{url_for('login') }}> Iniciar sesion</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock content %}