{% extends 'layout.html' %}

{% block content %}


<div class="container">
    <div class="row text-center">
        <div class="col">
            <form method="POST" action="{{ url_for('reset_password') }}" autocomplete="off" >
                {{ form.hidden_tag() }}
                <fieldset class="form-group mt-3">
                    <legend class="border-bottom mb-4">
                       Cambia tu contraseña
                    </legend>

                    <!--  Contraseña  -->
                    <div class="form-group">
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password (class="form-control form-control-lg", placeholder='Password', autocomplete='off') }}
                        {% endif %}
                    </div>
                        

                    <!-- Confirmar contraseña   -->
                    <div class="form-group">
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password (class="form-control form-control-lg", placeholder='Confirmar contraseña', autocomplete='off') }}
                        {% endif %}

                    </div>
                    
                </fieldset>

                <div class="form-group mt-3">
                    {{ form.submit (class="btn btn-outline-info")}}
                </div>
            </form>
        </div>
        
    </div>
</div>


{% endblock content %}



