
.form-group{
    margin-top: 1.5em;
}


.post-button {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1DA1F2; 
    color: white;
    padding: 1rem 2rem;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: none;
  }
  
  .post-button:hover {
    background-color: #0d95e8; 

  }

  .btn-shadow{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    transform: perspective(5px);
    transition: all 0.3s ease-in-out;
  }
  

img{
  background-size: cover;
}


.polaroid {
  background-color: white;
  margin: auto;
  width: 20rem;
  box-shadow: 10px 10px 5px #aaaaaa;
  border: 1px solid #cccccc;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

}

.polaroid img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.bounce-button{
  border-radius: 50%;
  border: none;
  background-color: #3498db; 
  color: #ffffff; 
  padding: 10px 20px;
  font-size: 20px; 
}


.polaroid-account {
  background-color: white;
  margin: auto;
  width: 24rem;
  box-shadow: 10px 10px 5px #aaaaaa;
  border: 1px solid #cccccc;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

}

.black-photo{
  background-color: black;
  height: 300px;
  width: 300px;
  margin: auto;
}


.login-image{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width:700px) {
  .login-image{
    display: none;
  }
}



.polaroid-forms {
  background-color: white;
  margin: auto;
  width: 20rem;
  box-shadow: 10px 10px 5px #aaaaaa;
  border: 1px solid #cccccc;
  overflow: hidden;

}

.title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.recaptcha{
  display: flex;
  justify-content: center;
  align-items: center;

}

.delete-post{
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.aside{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 5rem;
  list-style-type: none;
  position: fixed;
}


.anchor{
  display: block;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
   
}

.aside-desktop{
  border-right: 1px black solid;
  background-color: rgb(37, 37, 37);
}


@media only screen and (max-width:1100px) {
  .aside-desktop{
    display: none;
  }
}


.pagination{
  margin-left: 4rem;
  margin-top: 1rem;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.pagination .active {
  color: #fff;
}